* {
    box-sizing: border-box;
}
 
/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
}
 
/* 标题 */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
 
/* 标题字体加大 */
.header h1 {
    font-size: 40px;
}
 
/* 导航 */
.navbar {
    overflow: hidden;
    background-color: #333;
}
 
/* 导航栏样式 */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar p {
    float: center;
    padding: 14px 20px;
    text-align: center;
    color: white;
    font-size: large;
}
 
/* 右侧链接*/
.navbar a.right {
    float: right;
}

.content-info {
    display: flex;
    flex-direction: row;
}

.content-info h5 {
    margin: 10px;
    padding: 10px;
    font-size: large;
}
 
/* 鼠标移动到链接的颜色 */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
 
/* 列容器 */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
 
/* 创建两个列 */
/* 边栏 */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
 
/* 主要的内容区域 */
#main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 0 100px;
}
 
/* 测试图片 */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
 
/* 底部 */
.footer {
    width: 100vw;
    height: 60px;
    position: absolute;
    bottom: 0;
    position: fixed;
    padding: 0px;
    text-align: center;
    justify-content: center;
    line-height: 60px;
    background: #ddd;
}

.contentArea {
    border-bottom: 2px, solid, #1abc9c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    margin: 20px 0;
    border-radius: 25px;
    border: 2px solid #8AC007;
}

#load{
    display: flex;
    justify-content: center;
}

#load #loading{
    cursor: pointer;
}

.content p {
    padding: 5px;
}

#post {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#postArea{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#postArea p {
    margin: 0;
    padding: 0;
    width: 25px;
}

#postReceiver{
    margin: 0 0 10px 0;
}

#postTxt{
    display: block;
    height: 220px;
    overflow: visible;
    word-break:break-all;
}

#postButton{
    display: flex;
    margin: 15px auto;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.menu-toggler{
    position: absolute;
    display: block;
    /*top: 0;*/
    bottom: 150px;
    /*right: 0;*/
    left: 49%;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    position: fixed;
}

.menu-toggler:hover + label,
.menu-toggler:hover + label::before,
.menu-toggler:hover + label::after{
    background-color: white;
}

.menu-toggler:checked + label{
    background-color: transparent;
}

.menu-toggler:checked + label::before,
.menu-toggler:checked + label::after{
    top: 0;
    width: 40px;
    transform-origin: 50% 50%;
}

.menu-toggler:checked + label::before{
    transform: rotate(45deg);
}

.menu-toggler:checked + label::after{
    transform: rotate(-45deg);
}

.menu-toggler:checked ~ ul .menu-item{
    opacity: 1;
}

.menu-toggler:checked ~ ul .menu-item:nth-child(1){
    transform: rotate(0deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(2){
    transform: rotate(90deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(3){
    transform: rotate(180deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item:nth-child(4){
    transform: rotate(270deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-toggler a{
    pointer-events: auto;
}

.menu-toggler + label{
    width: 40px;
    height: 5px;/*                 */
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: black;
    transition: transform 0.5s,top 0.5s;
    position: absolute;
    position: 50% 50%;
   /*top: 0;*/
   bottom: 150px;
   /*right: 0;*/
   left: 49%;
    margin: auto;
    position: fixed;
}

.menu-toggler + label::before,
.menu-toggler + label::after{
    width: 41px;
    height: 5px;/*             */
    display: block;
    z-index: 1;
    border-radius: 2.5px;/*            */
    background: black;
    transition: transform 0.5s,top 0.5s;
    content: "";
    position: absolute;
}

.menu-toggler + label::before{
    top: 10px;
}

.menu-toggler + label::after{
    top: -10px;
}

.menu-item:nth-child(1) a i{
    transform: rotate(0deg);
}

.menu-item:nth-child(2) a i{
    transform: rotate(-90deg);
}

.menu-item:nth-child(3) a i{
    transform: rotate(-180deg);
}

.menu-item:nth-child(4) a i{
    transform: rotate(-270deg);
}

.menu-item{
    position: absolute;
    display: block;
    position: 50% 50%;
    /*top: 0;*/
    bottom: 110px;
    /*right: 10%;*/
    left: 48%;
    margin: auto;
    height: 80px;
    width: 80px;
    opacity: 0;
    transition: all 0.5s;
    position: fixed;
}

.menu-item a {
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}
.menu-item a i{
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background: black;
    border-color: black;
    border-radius: 50%;
    font-size: 40px;
    pointer-events: none;
    transition: 0.5s;/*        */
}

.menu-item a:hover i{
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: black;
    background: white;
    font-size: 44.44px;
}

.menu-item .active i{
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: black;
    background: white;
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
    #main {
        padding: 50px;
    }
    #postButton{
        width: 100px;
    }
    /*                        */
    .menu-item{
        left: 42%;
    }

    .menu-toggler{
        left: 46%;
    }

    .menu-toggler + label{
        left: 46%;
    }
}
 
/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}